html, body
  min-width: 1200px
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
  height: 100%
  background-color: #fff
  width: 100%

img
  width: 100%

.base-ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.base-pointer
  cursor: pointer

.base-moiddle
  justify-content: center
  display: flex
  align-items: center
  width: 100%